# gradio
gradio

# Download youtube and twitch videos
pytube
twitch-dl

# mossformer --> separate speech audios
torch
torchvision
torchaudio
speechbrain
soundfile
modelscope
rotary-embedding-torch
transformers

# Trascribe audios
# git+https://github.com/openai/whisper.git
git+https://github.com/m-bain/whisperx.git

# Translate
protobuf

# Add subtitles to videos
opencv-python