# gradio
gradio

# Get environment
transformers

# Download youtube and twitch videos
pytube
yt-dlp
twitch-dl

# Trascribe audios
git+https://github.com/m-bain/whisperx.git
pyannote.audio

# Translate
protobuf

# Add subtitles to videos
opencv-python